/* "Happy Monkey", "Lexend" and "Rock Salt" fonts from Google Fonts */
/* Rock Salt to be used the header, Happy Monkey in titles, and Lexend for general text */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Lexend:wght@100..900&family=Rock+Salt&display=swap');
<style>
/* Jost is used for the motivational poster */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
</style>
/* =========================================== */
/* Font style classes copied from google-fonts */
/* =========================================== */

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lexend-light {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ============================================ */
/* Override default styles added by the browser */
/* ============================================ */

/* Below copied from CI love-running walkthrough project example */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============== */
/* General styles */
/* ============== */

/* Below copied from CI love-running walkthrough project example with some modifications */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: lexend-regular, sans-serif;
}

/* Below, I got the idea of a box-shadow from love-running walkthrough, modified the code slightly */
header {
  background-color: gold;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 3px #3a3a3a;
  z-index: 99;
  /* Below moves dropdown toggle to header */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-family: "Rock salt", sans-serif;
  color: #3a3a3a;
  letter-spacing: 5px;
  font-size: 120%;
}

h2 {
  text-align: center;
  font-family: "Happy Monkey", sans-serif;
  letter-spacing: 2px;
  font-size: 110%;
  padding-top: 10px;
}

/* In mobile phones, the navbar style will be a dropdown list */
/* Copied the following code from CI love-running walkthrough example with some modifications */
nav {
  position: absolute;
  background-color: gold;
  width: 100%;
  left: 0%;
  box-shadow: 2px 2px 2px gray;
  display: none;
  top: 100%;
}

/* ============= */
/* Header styles */
/* ============= */

#menu {
  font-size: 100%;
  letter-spacing: 2px;
  list-style-type: none;
  margin-left: 2em;
  font-family: "Happy Monkey", sans-serif;
}

#menu>li {
  margin-bottom: 0.5em;
}

.active {
  border-bottom: 1px solid seagreen;
  box-shadow: 2px 2px 2px gray;
}

/* ================= */
/* Navigation toggle */
/* ================= */

/* Below (the three toggle-related id and classes) are copied from CI love-running walkthrough example */
#nav-toggle:checked~nav {
  display: block;
}

/* Hide the checkbox */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* ============ */
/* Main content */
/* ============ */

main {
  background-color: white;
  /* Make main element take up any surplus space to push footer down */
  /* Below is copied from CI's love-running walkthrough project */
  flex: 1 0 auto;
  margin-top: 110px;
}

#page-info {
  margin: 30px 100px;
  font-size: medium;
  text-align: center;
  line-height: 2;
}

#stats-greet {
  margin-bottom: 100px;
}

/* Included to hide the monster images to be able to use alt text and also used for a responsive motivational poster page */
.hidden {
  visibility: hidden;
}

#anxious-monster {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The idea of using the image in background is from love-running walk through example */
/* The code there also helped me to write below */
#anxious-monster-image {
  width: 50vw;
  height: 50vw;
  background: url(../images/anxious_monster_small.jpeg) no-repeat center center / cover;
  position: relative;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
}

#anxious-monster-greet {
  width: 50vw;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#anxious-monster-greet p {
  line-height: 2;
}

#happy-monster {
  display: flex;
  align-items: center;
  justify-content: center;
}

#happy-monster-image {
  width: 50vw;
  height: 50vw;
  background: url(../images/happy_monster_small.jpeg) no-repeat center center / cover;
  position: relative;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
}

#happy-monster-greet {
  width: 50vw;
  margin-left: 25%;
  margin-right: 25%;
  line-height: normal;
  text-align: center;
}

#happy-monster-greet p {
  line-height: 2;
}

#happy-monster-greet h3 {
  font-family: "Rock Salt", sans-serif;
  font-size: 120%;
  letter-spacing: 2px;
  line-height: 2;
}

.no-decoration {
  text-decoration: none;
  color: #20643F;
  font-size: 120%;
  font-family: "Rock Salt", sans-serif;
}

/* ====================== */
/* CSS for fun facts page */
/* ====================== */

#fun-fact-main {
  margin-top: 120px;
  margin-right: 10%;
  margin-left: 10%;
}

/* path to page on website */
.path {
  color: #554E4E;
  font-size: 90%;
}

.path a {
  color: #554E4E;
  text-decoration: none;
}

.fun-fact-h2 {
  font-size: 120%;
  line-height: 5;
}

.keywords {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: left;
  margin-top: 30px;
  flex-wrap: wrap;
}

.keywords li {
  list-style: none;
  border: solid 1px seagreen;
  border-radius: 20px;
  padding: 7px;
  width: fit-content;
  font-size: smaller;
}

#fun-fact-main p {
  line-height: 2;
  margin-bottom: 20px;
}

.green-color {
  border: solid 2px seagreen;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.wiki-frame {
  width: 80vw;
  height: 80vw;
  margin-bottom: 50px;
}

/* =============================== */
/* CSS for page under construction */
/* =============================== */

#comeback {
  display: flex;
  align-items: center;
  justify-content: center;
}

.come-back-image {
  max-width: 100%;
  height: auto;
}

/* ====================== */
/* CSS for subscribe page */
/* ====================== */

/* I used examples from love-running walkthrough and Coders Coffee House website with modifications  */
select {
  height: 30px;
  width: 100px;
  padding-left: 10px;
  margin-bottom: 30px;
}

#subscribe h2 {
  text-align: left;
  font-size: 120%;
}

#subscribe p {
  margin-bottom: 10px;
}

#subscribe-form {
  background-color: rgba(223, 219, 219, 0.862);
  padding: 50px;
  width: 360px;
  margin: 25px auto;
  border-radius: 10px;
}

.personal-detail {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type=text],
input[type=email] {
  height: 30px;
  width: 50%;
  padding-left: 10px;
  margin: 10px 0;
}

.block-label {
  display: block;
}

#feedback {
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox-margin label {
  margin-left: 5px;
  margin-right: 30px;
}

.confirm {
  display: flex;
  flex-direction: row;
  gap: 30px;

}

input[type=submit] {
  margin-top: 40px;
  margin-left: 0.75rem;
  padding: 0.75rem;
  background-color: #21643E;
  color: white;
  border: solid 1px #3a3a3a;
  border-radius: 5px;
  width: 100px;
  font-size: medium;
}

input[type=reset] {
  margin-top: 40px;
  margin-left: 0.75rem;
  padding: 0.75rem;
  background-color: white;
  color: #21643E;
  border: solid 1px #3a3a3a;
  border-radius: 5px;
  font-size: medium;
}

.thanks {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 150%;
}

/* ============================= */
/* CSS for the motivational page */
/* ============================= */

.motivational-body {
  background-color: black;
}

.motivational {
  margin-left: 15%;
  width: 70%;
  margin-top: 30%;
  text-align: center;
  color: white;
}

.landscape {
  display: none;
}

.portrait {
  display: block;
}

.motivational h1 {
  text-transform: uppercase;
  font-family: jost, sans-serif;
  color: white;
  font-size: 105%;
  margin-top: 30px;
  line-height: 1.5em;
}

.motivation-image {
  width: 100%;
  border: 5px solid white;
}

.motivational p {
  font-size: 1.1rem;
  font-family: jost, sans-serif;
  line-height: 3;
  color: white;
  letter-spacing: 2px;
}

/* ====== */
/* Footer */
/* ====== */

footer {
  background-color: gold;
  color: #3a3a3a;
}

/* Below code is copied from CI's love-running walk through example */
#social-networks {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 30px; */
  list-style-type: none;
}

#social-networks i {
  font-size: 200%;
  padding: 5%;
  color: #3a3a3a;
  /* margin-left: 30px; */
}

footer>p {
  padding: 20px 0 10px 60px;
  text-align: left;
}

.align-right {
  text-align: right;
  padding-right: 1em;
}

footer div {
  font-size: smaller;
  color: #154229;
  padding-top: 20px;
}

.bottom-line {
  color: #154229;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* ================================================== */
/* Media query: tablets and larger (768px and higher) */
/* ================================================== */

@media screen and (min-width: 768px) {

  h1 {
    position: relative;
    font-size: 160%;
  }

  /* Header */
  nav {
    display: block;
    position: absolute;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    width: 100%;
  }

  #menu {
    display: flex;
    padding-top: 20px;
  }

  #menu>li {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 95%;
  }

  /* Below is copied from CI love-running walkthrough example */
  .nav-toggle-label {
    display: none;
  }

  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 130px;
  }

  #stats-anxious-monster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
  }

  #anxious-monster-greet {
    margin-left: 5%;
    margin-right: 5%;
    line-height: normal;
    text-align: center;
  }

  #stats-happy-monster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
  }

  #happy-monster-greet {
    margin-left: 5%;
    margin-right: 5%;
    line-height: normal;
    text-align: center;
    order: -1;
  }

  /* fun facts page */
  #fun-fact-main {
    margin-top: 160px;
  }

  .wiki-frame {
    width: 80vw;
    height: 400px;
    margin-bottom: 50px;
  }

  /* Subscribe page */
  #subscribe-form {
    width: 700px;
  }

  /* Motivational poster */
  .portrait {
    display: none;
  }

  .landscape {
    display: block;
  }

  .motivational {
    margin-left: 25%;
    width: 50%;
    margin-top: 4%;
  }

  .motivational h1 {
    font-size: 150%;
    margin-top: 30px;
    line-height: 1.5em;
  }

  .motivational p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  #social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    list-style-type: none;
  }

  #social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
    margin-left: 30px;
  }

  #project-detail-ci {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 0;
    gap: 10px;
  }

  #project-detail-mh {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 0;
    gap: 30px;
  }
}

/* ======================================= */
/* Media query: laptops (992px and higher) */
/* ======================================= */

@media screen and (min-width: 992px) {

  h1 {
    position: relative;
    font-size: 200%;
  }

  #menu>li {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 100%;
  }

  #menu a:hover {
    color: seagreen;
  }

  main {
    /* Push main content down to accommodate larger header */
    margin-top: 150px;
  }

  #anxious-monster-image:hover {
    background: url(../images/happy_monster.jpeg) no-repeat center center / cover;
  }

  #happy-monster-greet a:hover {
    color: rgb(228, 0, 124);
  }

  /* fun facts page */
  #fun-fact-main {
    margin-top: 200px;
  }

  .fun-fact-h2 {
    font-size: 200%;
  }

  footer div {
    color: seagreen;
    margin-right: 60px;
  }
}